body {
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
	}
header {
	border-radius: 10px 10px 0 0;
	background-color: #5b7989;
	padding: 10px 10px 10px 10px;
	}
header h2 {
	color: white;
	text-shadow: 2px 2px 2px #02010a;
  display: inline;
	}
	.imagen2>img, .imagen3>img, .imagen4>img,.imagen5>img, .imagen6>img{
	border: 2px;
	box-shadow: 2px 2px 2px 2px black;
	}
	.imagen1 {
		filter: blur(10px);
	}
	.imagen2, .imagen4, .imagen6{
		filter: grayscale(100%);
	}
	.imagen3 {
		filter: sepia(90%);
	}
	@keyframes todo {
		0% {
			margin-top: 150%;
			}
		60% {
			margin-top: -5%;
		}
		100% {
			margin-top: 0%;

		}
	}
	header{
		animation-name: todo;
		animation-duration: 1s;
	}
header p {
	display: inline;
	word-spacing: 10px;
	}
	header p a{
		color: white;
	}
	.retratos{
		text-decoration: none;
	}
	div>img{
		text-align: center;
	}

	#imagenes>div>img{
		text-align: center;
		box-sizing: border-box;
		width: 90%;
  }
  #imagenes>div{
		padding: 10px;
    box-sizing: border-box;
	}
  #imagenes>div>img{
    width: 90%;
    height: 90%;
	}
	#imagenes{
		background-color: #d5c75f;
		display: flex;
		flex-flow: row wrap;
    width: 100%;
	}
	.imagen1{
		width: 33%;
    order: 1;
  }
  .imagen2{
		width: 33%;
    order: 2;
  }
  .imagen3{
		width: 33%;
    order: 3;
  }
  .imagen4{
		width: 33%;
    order: 4;
  }
  .imagen5{
		width: 33%;
    order: 5;
  }
  .imagen6{
		width: 33%;
    order: 6;
  }
footer {
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-flow: row wrap;
	}
	#Contacto{
	width: 25%;
	}
  #Terminos{
	width: 25%;
	}
	#redes-sociales{
  width: 25%;
	}
	#Derechos{
  width: 25%;
	}
	#contenido{
	text-align: center;
	width: 900px;
	margin: auto;
	}
  .icono{
		width: 20px;
		height: 20px;
		display: inline;
	}
	@media (max-width:899px){
		header h2 {
			text-align: center;
			display: block;

			}
		header p {
			text-align: center;
			display: block;
			word-spacing: 10px;
			}
			
	    #contenido{
	  	text-align: center;
	  	width: 100%;
	  	margin: auto;
	  	}
		.imagen1{
			width: 100%;
			order: 1;
		}
		.imagen2{
			width: 100%;
			order: 2;
		}
		.imagen3{
			width: 100%;
			order: 3;
		}
		.imagen4{
			width: 100%;
			order: 4;
		}
		.imagen5{
			width: 100%;
			order: 5;
		}
		.imagen6{
			width: 100%;
			order: 6;
		}
		#Contacto{
		width: 100%;
		}
		#Terminos{
		width: 100%;
		}
		#redes-sociales{
		width: 100%;
		}
		#Derechos{
		width: 100%;
		}
	}
	@media (min-width:900px){
		.titulo {
    	text-align: left;
    }
    header>div>p {
      word-spacing: 10px;
    	}
		.menu{
			text-align: right;
		}
		.imagen1{
			width: 33%;
			order: 1;
		}
		.imagen2{
			width: 33%;
			order: 2;
		}
		.imagen3{
			width: 33%;
			order: 3;
		}
		.imagen4{
			width: 33%;
			order: 4;
		}
		.imagen5{
			width: 33%;
			order: 5;
		}
		.imagen6{
			width: 33%;
			order: 6;
		}
	}
